$clr-bg-light-red: rgba(255, 63, 29, 0.225);


.bg-color-blue{
    background-color: $clr-primary;
}
.bg-color--light-red{
    background-color: $clr-bg-light-red;
}


a{
    cursor: pointer;
}
.non-active-link{
    color: $clr-dark;
}
.non-active-link:hover{
    background-color: $clr-gray-solid;
}
.non-active-div{
    display: none !important;
}
.active-div{
    display: flex !important;
}
.active-link{
    color: $clr-primary;
    border-bottom: 3px solid $clr-primary;
}
.active-link:hover{
    background-color: $clr-bg-primary;
}


.account-sec{
    @include theme();
    padding: 1rem 1.5rem;
}


.border-link-div{
    border-bottom: 1px solid $clr-bg-gray;
    padding: .5rem;
}


.border-bottom-upload-div{
    border-bottom: 1px solid $clr-bg-gray;
}


@media(max-width: 475px){
    .border-link-div{
        a{
            padding: .5rem 0 !important;
            margin: 0 !important;
        }
    }
    .mobile-upload-div{
        display: flex;
        flex-direction: column;
        a{
            margin: .2rem 0 !important;
        }
    }
}