
.heading-sec{
    display: flex;
    flex-direction: column;
    @include secStyle();
    margin: 1rem 1.5rem;
    div p{
        color: $clr-grayish-blue;
    }
}
.txt-sec{
    margin: 1rem 1.5rem;
    @include secStyle();
}