$clr-white: rgb(252, 252, 252) !default;
$clr-primary: rgb(105, 108, 255) !default;
$clr-primary-bg: rgba(105, 108, 255, .16) !default;
$clr-bg-menu : rgb(245,245,249) !default;
$clr-grayish-blue: hsl(221, 10%, 64%) !default;
$clr-gray: hsla(0, 0%, 84%, 0.8) !default;
$clr-dark: rgb(0, 0, 0) !default;
$box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !default;
$clr-bg-light-red: rgba(255, 63, 29, 0.225) !default;
$clr-green: rgb(113, 221, 55) !default;
$clr-bg-green: rgba(113, 221, 55, 0.365) !default;
$clr-little-blue: rgba(3, 193, 236, 0.266) !default;
$clr-primary-bg: rgba(105, 108, 255, .16) !default;
$clr-gray-solid: rgba(133, 146, 163, 0.352) !default;
$clr-table-bg: rgb(12, 12, 47) !default;
$clr-table: rgb(186, 186, 197) !default;
$clr-pink: rgb(212, 0, 255) !default;
$clr-bg-gray: rgba(217, 217, 217, 0.724) !default;
$clr-bg-primary: rgba(191, 192, 254, 0.57)!default;


$fs :(14, 16, 18, 20, 22, 24, 26, 28, 30, 32);
$fw : (400, 500, 600, 700);

