@font-face {
    font-family: 'yekan-thin';
    src: url(/public/fonts/Yekan.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'yekan';
    src: url(/public/fonts/Yekan.ttf);
    font-weight: 500;
}


@font-face {
    font-family: 'yekan-bold';
    src: url(/public/fonts/Yekan.ttf);
    font-weight: 600;
}


@font-face {
    font-family: 'iranian-sans-thin';
    src: url(/public/fonts/Iranian\ Sans.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'iranian-sans';
    src: url(/public/fonts/Iranian\ Sans.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'iranian-sans-bold';
    src: url(/public/fonts/Iranian\ Sans.ttf);
    font-weight: 500;
}