@import url(../style/font.css);
.font-bold {
  font-family: "iranian-sans-bold", "yekan-bold"; }

body {
  font-family: 'iranian-sans-thin', 'iranian-sans', 'yekan-thin', 'yekan'; }

a {
  text-decoration: none;
  color: #696cff; }

a svg {
  font-size: 1.5rem; }

.main-page {
  display: flex;
  justify-content: center;
  align-items: center; }

.form-group {
  position: relative;
  margin: .75rem 0; }
  .form-group input {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #acacac;
    background-color: transparent;
    color: #eee;
    transition: .15s all ease; }
  .form-group input:focus {
    border-color: #696cff; }
  .form-group input::placeholder {
    color: transparent; }
  .form-group .form-label {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 0 .7rem;
    color: #9aa0ac;
    pointer-events: none;
    transition: .15s all ease; }
  .form-group input:focus + .form-label,
  .form-group input:not(:placeholder-shown) +
.form-label {
    transform: translate(-5px, -22px);
    color: #696cff;
    background-color: #fcfcfc;
    border-radius: 10px; }
  .form-group span svg {
    color: #9aa0ac;
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 90%; }
  .form-group span svg .d-none {
    display: none; }

.after-line-for-or {
  position: relative;
  width: 100%;
  text-align: center; }
  .after-line-for-or span {
    background-color: #fcfcfc;
    padding: .3rem; }

.after-line-for-or::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 1px;
  z-index: -1;
  background-color: #9aa0ac; }

.icon-menu-primary-color svg path {
  fill: #696cff; }

.btn-submit {
  background-color: #696cff;
  color: #fcfcfc;
  border-style: none; }
  .btn-submit :hover {
    opacity: .75;
    transition: all .5s; }

.form-width {
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.txt-grayish-blue {
  color: #9aa0ac; }

.face-book:hover {
  background-color: #4267b22c; }

.twitter:hover {
  background-color: #1da0f244; }

.git-hub:hover {
  background-color: #2727273b; }

.google:hover {
  background-color: #db45372e; }

.platform-icon {
  display: flex;
  justify-content: center;
  text-align: center; }
