@import url(../style/font.css);
@import url(../style/font.css);
@import url(../style/font.css);
.main-page {
  display: flex;
  justify-content: center;
  align-items: center; }

.frm-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.image-css {
  aspect-ratio: 1 !important;
  object-fit: cover !important;
  transition: 1s all; }

.div-text {
  color: rgba(24, 24, 27, 0.693); }
  .div-text h1 {
    font-size: 5rem; }

.page-link-404 {
  text-decoration: none;
  padding: .5rem 1rem;
  color: #fcfcfc !important;
  background-color: #696cff !important; }

a:hover {
  opacity: .7;
  transition: .5s ease-in; }

.form-sec {
  margin: 1rem 1.5rem;
  /* padding: 1rem 1.5rem; */ }
  .form-sec div form {
    padding: 1rem 1.5rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .form-sec div form div input {
    border-style: none;
    border: 1px solid #d3d8de; }

input:focus {
  border-color: #696cff !important; }

.link-form {
  margin: .5rem;
  padding: .5rem 1rem;
  color: #fcfcfc;
  background-color: #696cff;
  cursor: pointer; }

.reset {
  color: #58585f;
  background-color: #d3d8de; }

.form-svg {
  position: relative; }
  .form-svg svg {
    position: absolute;
    top: 20px;
    right: -10px; }

.main-sec-icon {
  /* overflow-y: scroll;
    overflow-x: hidden; */
  margin: .5rem 1rem; }
  .main-sec-icon .icon {
    display: flex;
    flex-wrap: wrap;
    margin: .5rem 1rem; }
  .main-sec-icon .icon span {
    padding: .75rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: .5rem;
    color: #9aa0ac; }
  .main-sec-icon .btn-show a {
    text-decoration: none;
    color: #fcfcfc;
    background-color: #696cff; }

.font-bold {
  font-family: "iranian-sans-bold", "yekan-bold"; }

body {
  font-family: 'iranian-sans-thin', 'iranian-sans', 'yekan-thin', 'yekan'; }

a {
  text-decoration: none;
  color: #696cff; }

a svg {
  font-size: 1.5rem; }

.main-page {
  display: flex;
  justify-content: center;
  align-items: center; }

.form-group {
  position: relative;
  margin: .75rem 0; }
  .form-group input {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #acacac;
    background-color: transparent;
    color: #eee;
    transition: .15s all ease; }
  .form-group input:focus {
    border-color: #696cff; }
  .form-group input::placeholder {
    color: transparent; }
  .form-group .form-label {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 0 .7rem;
    color: #9aa0ac;
    pointer-events: none;
    transition: .15s all ease; }
  .form-group input:focus + .form-label,
  .form-group input:not(:placeholder-shown) +
.form-label {
    transform: translate(-5px, -22px);
    color: #696cff;
    background-color: #fcfcfc;
    border-radius: 10px; }
  .form-group span svg {
    color: #9aa0ac;
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 90%; }
  .form-group span svg .d-none {
    display: none; }

.after-line-for-or {
  position: relative;
  width: 100%;
  text-align: center; }
  .after-line-for-or span {
    background-color: #fcfcfc;
    padding: .3rem; }

.after-line-for-or::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 1px;
  z-index: -1;
  background-color: #9aa0ac; }

.btn-submit {
  background-color: #696cff;
  color: #fcfcfc;
  border-style: none; }
  .btn-submit :hover {
    opacity: .75;
    transition: all .5s; }

.form-width {
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.txt-grayish-blue {
  color: #9aa0ac; }

.face-book:hover {
  background-color: #4267b22c; }

.twitter:hover {
  background-color: #1da0f244; }

.git-hub:hover {
  background-color: #2727273b; }

.google:hover {
  background-color: #db45372e; }

.platform-icon {
  display: flex;
  justify-content: center;
  text-align: center; }

.font-bold {
  font-family: "iranian-sans-bold", "yekan-bold"; }

body {
  font-family: 'iranian-sans-thin', 'iranian-sans', 'yekan-thin', 'yekan'; }

a {
  text-decoration: none;
  color: #696cff; }

a svg {
  font-size: 1.5rem; }

.main-page {
  display: flex;
  justify-content: center;
  align-items: center; }

.form-group {
  position: relative;
  margin: .75rem 0; }
  .form-group input {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #acacac;
    background-color: transparent;
    color: #eee;
    transition: .15s all ease; }
  .form-group input:focus {
    border-color: #696cff; }
  .form-group input::placeholder {
    color: transparent; }
  .form-group .form-label {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 0 .7rem;
    color: #9aa0ac;
    pointer-events: none;
    transition: .15s all ease; }
  .form-group input:focus + .form-label,
  .form-group input:not(:placeholder-shown) +
.form-label {
    transform: translate(-5px, -22px);
    color: #696cff;
    background-color: #fcfcfc;
    border-radius: 10px; }
  .form-group span svg {
    color: #9aa0ac;
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 90%; }
  .form-group span svg .d-none {
    display: none; }

.after-line-for-or {
  position: relative;
  width: 100%;
  text-align: center; }
  .after-line-for-or span {
    background-color: #fcfcfc;
    padding: .3rem; }

.after-line-for-or::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 1px;
  z-index: -1;
  background-color: #9aa0ac; }

.btn-submit {
  background-color: #696cff;
  color: #fcfcfc;
  border-style: none; }
  .btn-submit :hover {
    opacity: .75;
    transition: all .5s; }

.form-width {
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.txt-grayish-blue {
  color: #9aa0ac; }

.face-book:hover {
  background-color: #4267b22c; }

.twitter:hover {
  background-color: #1da0f244; }

.git-hub:hover {
  background-color: #2727273b; }

.google:hover {
  background-color: #db45372e; }

.platform-icon {
  display: flex;
  justify-content: center;
  text-align: center; }

.heading-sec {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 1rem 1.5rem; }
  .heading-sec div p {
    color: #9aa0ac; }

.txt-sec {
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 1rem 1.5rem; }

.table-sec div {
  padding: 1rem 1.5rem;
  margin: 1rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 100%; }

.table-sec div {
  overflow-x: auto; }

.table-sec div::-webkit-scrollbar {
  height: 4px; }

.table-sec div::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.table-sec div::-webkit-scrollbar-thumb {
  background-color: a6c53b;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.table-sec div table {
  text-align: center; }

.table-sec div table tbody tr td {
  padding: 1rem; }

.table-sec div table tbody tr {
  border-top: 1px solid; }

.table-dark {
  border-radius: 10px;
  background-color: #0c0c2f;
  color: #babac5;
  margin: 0; }

.thm-color {
  color: #d400ff; }

/* $clr-dark: rgb(0, 0, 0); */
.bg-color-gray {
  background-color: rgba(227, 231, 236, 0.813); }

.bg-color-primary {
  background-color: rgba(191, 192, 254, 0.57); }

/* .txt-dark{
    color: $clr-dark;
} */
.color-white {
  color: #fcfcfc !important; }

.bg-primary {
  background-color: #696cff !important; }

.basic-card-sec {
  padding: 1rem 1.5rem; }

.txt-color {
  color: #9aa0ac; }

.influencer-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */ }

.robert-meyer-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */ }
  .robert-meyer-div a {
    padding: .5rem;
    color: #fcfcfc;
    background-color: #696cff;
    border-radius: 10px; }
  .robert-meyer-div div span {
    font-size: .75rem; }

.avatar-position-robert {
  position: relative;
  z-index: -1; }

.avatar-position-absolute {
  position: absolute;
  bottom: -25px;
  left: 8px; }
  .avatar-position-absolute img {
    border: 2px solid #fcfcfc; }

.img-position-robert {
  position: relative; }
  .img-position-robert img {
    position: absolute;
    border: 2px solid #fcfcfc;
    top: -15px;
    cursor: pointer; }
  .img-position-robert .first-image {
    left: 90px;
    z-index: 3; }
  .img-position-robert .second-image {
    left: 60px;
    z-index: 2; }
  .img-position-robert .third-image {
    left: 30px;
    z-index: 1; }
  .img-position-robert .forth-image {
    left: 0;
    z-index: 0; }
  .img-position-robert img:hover {
    z-index: 3;
    transition: all .1s;
    top: -18px; }

.fav-user-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */ }
  .fav-user-div a {
    padding: .5rem;
    transition: all 0.5s;
    border-radius: 10px; }
  .fav-user-div a:hover {
    background-color: rgba(217, 217, 217, 0.724); }

.iphone-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */
  display: flex; }

.txt-iphone-div div a {
  padding: .5rem;
  transition: all 0.5s;
  border-radius: 10px; }

.txt-iphone-div div a:hover {
  background-color: rgba(217, 217, 217, 0.724); }

.iphone-image-div {
  border-left: 1px solid rgba(217, 217, 217, 0.724); }

.roaster-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */
  display: flex; }
  .roaster-div div div a {
    padding: .5rem;
    transition: all 0.5s;
    border-radius: 10px; }
  .roaster-div div div a:hover {
    background-color: rgba(217, 217, 217, 0.724); }

.influencer--main-txt-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */
  padding: 1rem 1.5rem; }
  .influencer--main-txt-div a {
    padding: .5rem;
    transition: all 0.5s;
    border-radius: 10px; }
  .influencer--main-txt-div a:hover {
    background-color: rgba(217, 217, 217, 0.724); }

.z-index-1 {
  z-index: -1 !important; }

.apple-watch-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */ }

.lifetime-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */
  display: flex; }

.border-for-div {
  border-top: 1px solid rgba(217, 217, 217, 0.724);
  padding: 1rem 0; }

.border-space-icon {
  border-left: 1px solid rgba(217, 217, 217, 0.724); }

.best-answer-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */
  padding: 1rem 1.5rem; }
  .best-answer-div div a {
    padding: .5rem;
    transition: all 0.5s;
    border-radius: 10px; }
  .best-answer-div div a:hover {
    background-color: rgba(217, 217, 217, 0.724); }

.support-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  /* padding: 1rem; */
  padding: 1rem 1.5rem; }
  .support-div a {
    padding: .5rem 1rem;
    color: #fcfcfc;
    background-color: #696cff; }

/* .iphone-empty-div::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: $clr-grayish-blue;
    width: 275px;
    rotate: 90deg;
    bottom: 122px;
    right: 0;
}
 */
@media (max-width: 400px) {
  .robert-meyer-div div {
    flex-direction: column; }
  .mobile-padding-robert {
    padding: 1rem; }
  .img-position-robert img {
    top: -8px; }
  .img-position-robert .first-image {
    left: 30px;
    z-index: 3; }
  .img-position-robert .second-image {
    left: 0px;
    z-index: 2; }
  .img-position-robert .third-image {
    left: -30px;
    z-index: 1; }
  .img-position-robert .forth-image {
    left: -60px;
    z-index: 0; }
  .img-position-robert img:hover {
    z-index: 3;
    transition: all .1s;
    top: -10px; } }

/* @media(max-width: 900px){
    .iphone-empty-div::after{
        content: "";
        height: 0;
        width: 0;
        background-color:#fff ;
    }
    .iphone-empty-div{
        padding: 0 !important;
    }
}
 */
@media (max-width: 960px) {
  .iphone-div {
    flex-direction: column;
    align-items: center; }
  .iphone-image-div {
    border-left: none; }
  .txt-iphone-div {
    border-top: 1px solid rgba(217, 217, 217, 0.724); }
  .roaster-div {
    flex-direction: column;
    align-items: center; }
  .order-medium-1 {
    order: 1 !important; }
  .order-medium-2 {
    order: 2 !important; }
  .lifetime-div {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .mobile-display-lifetime {
    justify-content: center;
    align-items: center; } }

@media (max-width: 1150px) {
  .star-width {
    flex-direction: column; } }

.font-bold {
  font-family: "iranian-sans-bold", "yekan-bold"; }

.color-grayish-blue {
  color: #9aa0ac !important; }

.bg-color-menu-hover:hover {
  background-color: #f5f5f9;
  transition: all .5s; }

body {
  margin: 0;
  padding: 0;
  font-family: 'iranian-sans-thin', 'iranian-sans', 'yekan-thin', 'yekan'; }

.image-css {
  aspect-ratio: 1 !important;
  object-fit: cover !important; }

a {
  text-decoration: none;
  background-color: transparent; }

ul {
  list-style: none; }

#nav-menu ul {
  /* margin: .5rem 0; */
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto; }

#nav-menu ul li {
  padding: .5rem 1rem; }

#nav-menu ul li a {
  display: flex;
  width: 100%; }

/* #main-sec{ */
/*     width: 75%;
    position: fixed;
    right: 25%;
} */
.icon-menu-primary-color svg path {
  color: #696cff; }

.active-menu {
  color: #696cff;
  background-color: rgba(105, 108, 255, 0.16);
  position: relative; }

.active-menu::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  rotate: 90deg;
  background-color: #696cff;
  top: 19px;
  left: -17px;
  border-radius: 10px;
  transition: all .5s; }

.pop-ups {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(217, 217, 217, 0.724);
  transition: all 1s; }

.pop-up {
  background-color: #fcfcfc;
  border-radius: .3rem;
  box-shadow: .2rem .2rem 1.5rem .001rem;
  transition: all 1.5s;
  min-width: 250px; }
  .pop-up ul {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    margin: .5rem 1rem 1rem 0; }
  .pop-up li {
    padding: .5rem 1rem; }
  .pop-up ul li a {
    display: flex;
    width: 100%; }
  .pop-up ul li {
    margin: .5rem 1rem; }

::-webkit-scrollbar {
  width: 4px;
  transition: all .5s; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #9aa0ac;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 217, 217, 0.724); }

.show {
  display: flex; }

#pop-up {
  display: none; }

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 1.5rem; }

.icon-success {
  position: relative; }

.icon-success::after {
  content: "";
  position: relative;
  border-radius: 50%;
  width: 10px;
  display: block;
  height: 10px;
  background-color: green;
  right: 27px;
  bottom: 11px;
  border-color: #fcfcfc;
  border: 1px solid #fcfcfc; }

@media (max-width: 1280px) {
  .w-none-mobile {
    display: none;
    width: 0;
    height: 0; }
  #main-sec {
    right: 0;
    width: 100%; } }

@media (min-width: 1281px) {
  .mobile-menu-display-0 {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    display: none; }
  .pop-ups {
    display: none;
    height: 0;
    width: 0; } }

@media (max-width: 426px) {
  .main-header {
    padding: .5rem 1rem; }
  .mobile-p-0 {
    padding: 0 !important; } }

@media (max-width: 376px) {
  .main-header {
    padding: .5rem 0 !important; } }
