

.account-sec{
    @include secStyle();
}


.border-link-div{
    border-bottom: 1px solid $clr-bg-gray;
    padding: .5rem;
}


.border-bottom-upload-div{
    border-bottom: 1px solid $clr-bg-gray;
}
.list-style-ul{
    list-style: inside;
}

.api-sec-list{
    padding: 1rem 1.5rem;
    background-color: $clr-bg-gray;
}

.border-top-table{
    tr{
        margin: 2rem 0;
        border-top: 1px solid;
    }
}
#notification{
    @include secStyle();
    display: flex;
    flex-direction: column;
}
@media(max-width: 512px){
    .border-link-div{
        a{
            padding: .5rem 0 !important;
            margin: 0 !important;
        }
    }
    .mobile-upload-div{
        display: flex;
        flex-direction: column;
        a{
            margin: .2rem 0 !important;
        }
    }
    .form-group{
        display: flex;
        width: 100% !important;
        flex-direction: column !important;
    }
    .div-moble-flex{
        flex-direction: column;
    }
    .moblie-image-css-padding{
        padding: .75rem 0 !important;
    }
    .mobile-div-100{
        width: 100%;
    }
}




/*the container must be positioned relative:*/
.custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    border-color: $clr-bg-gray;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    left: 10px;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: $clr-dark transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent $clr-gray transparent;
    top: 14px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: $clr-dark;
    padding: .5rem 1rem;
    border: 1px solid transparent;
    border-color:  rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: $clr-bg-menu;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 10px;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}