

.account-sec{
    @include secStyle();
}


.border-link-div{
    border-bottom: 1px solid $clr-bg-gray;
    padding: .5rem;
}


.border-bottom-upload-div{
    border-bottom: 1px solid $clr-bg-gray;
}


@media(max-width: 475px){
    .border-link-div{
        a{
            padding: .5rem 0 !important;
            margin: 0 !important;
        }
    }
    .mobile-upload-div{
        display: flex;
        flex-direction: column;
        a{
            margin: .2rem 0 !important;
        }
    }
}