
$clr-bg-linkedin: rgb(0, 123, 182);
$clr-bg-face-book: rgb(59, 89, 152);
$clr-bg-twitter: rgb(22, 177, 255);

.influencer-div{
    padding: 0 !important;
    @include theme();
}
.robert-meyer-div{
    padding: 0 !important;
    @include theme();
    a{
        padding: .5rem;
        color: $clr-white;
        background-color: $clr-primary;
        border-radius: 10px;
    }
    div span{
        font-size: .75rem;
    }
}

.avatar-position-robert{
    position: relative;
    z-index: -1;
}
.avatar-position-absolute{
    position: absolute;
    bottom: -25px;
    left: 8px;
    img{
        border: 2px solid $clr-white;
    }
}


.img-position-robert{
    position: relative;
    img{
        position: absolute;
        border: 2px solid $clr-white;
        top: -15px;
        cursor: pointer;
    }
    .first-image{
        left: 90px;
        z-index: 3;
    }
    .second-image{
        left: 60px;
        z-index: 2;
    }
    .third-image{
        left: 30px;
        z-index: 1;
    }
    .forth-image{
        left: 0;
        z-index: 0;
    }
    img:hover{
        
        z-index: 3;
        transition: all .1s;
        top: -18px;
    }
}

.fav-user-div{
    padding: 0 !important;
    @include theme();

    @include link();
}

.iphone-div{
    padding: 0 !important;
    @include theme();
    display: flex;
}

.txt-iphone-div{
    div {
        @include link();
    }
}

.iphone-image-div{
    border-left: 1px solid $clr-gray;
}


.roaster-div{
    padding: 0 !important;
    @include theme();
    display: flex;
    div div {
        @include link();
    }
}


.influencer--main-txt-div{
    @include theme();
    padding: 1rem 1.5rem;
    @include link();
}

.z-index-1{
    z-index: -1 !important;
}

.apple-watch-div{
    padding: 0 !important;
    @include theme();
}

.link-border-apple-watch{
    border-radius: 0 0 10px 10px;
}
.image-border-div{
    border-radius: 10px 10px 0 0;
}
.border-div{
    border-radius:10px 0 0 10px ; 
}

.lifetime-div{
    padding: 0 !important;
    @include theme();
    display: flex;
}

.border-for-div{
    border-top: 1px solid $clr-gray;
    padding: 1rem 0;
}

.border-space-icon{
    border-left: 1px solid $clr-gray;
}


.best-answer-div{
    @include theme();
    padding: 1rem 1.5rem;
    div {
        @include link();
    }
}


.support-div{
    @include theme();
    padding: 1rem 1.5rem;
    a{
        padding: .5rem 1rem;
        color: $clr-white;
        background-color: $clr-primary;
        
    }
}




.navigation-card-sec{
    padding: 1rem 1.5rem;
}




.solid-card-sec{
    padding: 1rem 1.5rem;
}

.solid-card-div{
    @include theme();
}

@mixin solidCard(){
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: $clr-white;
}
.twitter-card /* + .face-book-card + .linkedin-card */{
    @include solidCard();
    background-color: $clr-bg-twitter;
}
.face-book-card{
    @include solidCard();
    background-color: $clr-bg-face-book;
}
.linkedin-card{
    @include solidCard();
    background-color: $clr-bg-linkedin;
}

/* .iphone-empty-div::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: $clr-grayish-blue;
    width: 275px;
    rotate: 90deg;
    bottom: 122px;
    right: 0;
}
 */
@media(max-width: 400px){
    .robert-meyer-div{
        div{
            flex-direction: column;
            
        }
    }
    .mobile-padding-robert{
        padding: 1rem;
    }
    .img-position-robert{
        img{
            top: -8px;
        }
        .first-image{
            left: 30px;
            z-index: 3;
        }
        .second-image{
            left: 0px;
            z-index: 2;
        }
        .third-image{
            left: -30px;
            z-index: 1;
        }
        .forth-image{
            left: -60px;
            z-index: 0;
        }
        img:hover{
            z-index: 3;
            transition: all .1s;
            top: -10px;
        }
    }
}

/* @media(max-width: 900px){
    .iphone-empty-div::after{
        content: "";
        height: 0;
        width: 0;
        background-color:#fff ;
    }
    .iphone-empty-div{
        padding: 0 !important;
    }
}
 */

@media(max-width: 960px){
    .iphone-div{
        flex-direction: column;
        align-items: center;
    }
    .iphone-image-div{
        border-left: none;
    }
    .txt-iphone-div{
        border-top: 1px solid $clr-gray;
    }
    .roaster-div{
        flex-direction: column;
        align-items: center;
    }
    .order-medium-1{
        order: 1 !important;
    }
    .order-medium-2{
        order: 2 !important;
    }
    .lifetime-div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile-display-lifetime{
        justify-content: center;
        align-items: center;
    }
    .border-div{
        border-radius: 10px 10px 0 0 !important;
    }
}

@media(max-width: 1150px){
    .star-width{
        flex-direction: column;
    }
}







/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #333;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
  } */
    .content input[type="radio"] {
        display: none;
    }
    
    #like:checked ~ nav .like,
    #star:checked ~ nav .star,
    #setting:checked ~ nav .setting {
        color: $clr-primary;
        border-radius: 10px 10px 0 0;
        padding: .5rem 1rem;
        margin: .5rem;
        border-bottom: 1px solid $clr-primary;
        transition-property: all;
        transition-duration: .28s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    #like:checked ~ nav .like,
    #star:checked ~ nav .star,
    #setting:checked ~ nav .setting:hover {
        background: $clr-primary-bg;
    }
    .txt-content .txt {
        display: none;
    }
    .txt-content .home {
        display: block;
    }
    
    #like:checked ~ .txt-content .like,
    #star:checked ~ .txt-content .star,
    #setting:checked ~ .txt-content .setting {
        display: block;
    }
    
    #star:checked ~ .txt-content .like,
    #setting:checked ~ .txt-content .like {
        display: none;
    }
    .txt-content {
        padding: 1.3rem;
        border-top: 1px solid $clr-gray;
        a{
            padding: .5rem;
            color: $clr-white;
            background-color: $clr-primary;
            border-radius: 10px;
        }
    }
    .txt-content .title {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .content{
        @include theme();
    }

    .content1 input[name="indiacator1"] {
        display: none;
    }
    
    #like1:checked ~ nav .like1,
    #star1:checked ~ nav .star1,
    #setting1:checked ~ nav .setting1 {
        color: $clr-primary;
        border-radius: 10px 10px 0 0;
        padding: .5rem 1rem;
        margin: .5rem;
        border-bottom: 1px solid $clr-primary;
        transition-property: all;
        transition-duration: .28s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    #like1:checked ~ nav .like1,
    #star1:checked ~ nav .star1,
    #setting1:checked ~ nav .setting1:hover {
        background: $clr-primary-bg;
    }
    .txt-content1 .txt1 {
        display: none;
    }
    .txt-content1 .home1 {
        display: block;
    }
    
    #like1:checked ~ .txt-content1 .like1,
    #star1:checked ~ .txt-content1 .star1,
    #setting1:checked ~ .txt-content1 .setting1 {
        display: block;
    }
    
    #star1:checked ~ .txt-content1 .like1,
    #setting1:checked ~ .txt-content1 .like1 {
        display: none;
    }
    .txt-content1 {
        padding: 1.3rem;
        border-top: 1px solid $clr-gray;
        a{
            padding: .5rem;
            color: $clr-white;
            background-color: $clr-primary;
            border-radius: 10px;
        }
    }
    .txt-content1 .title1 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .content1{
        @include theme();
        text-align: center;
    }