
.dashboard-sec{
    padding: 1rem 1.5rem;
}
.john-dash-div{
    @include secStyle();
    h3{
        color: $clr-primary;
    }
}

.john-dash-txt-div{
    padding: 1rem 1.5rem;
    a{
        padding: .5rem 1rem;
        background-color: $clr-bg-primary;
        border-radius: 10px;
    }
}


.charts-div{
    @include secStyle();  
    div{
        border-radius: 0 10px 10px 0;
    }
}

#chart{
    overflow-x: scroll;
}

.profit-div{
    @include secStyle();
}

.payment-div{
    @include secStyle();
}

.sale-div{
    @include secStyle();
}

.transaction-div{
    @include secStyle();
}


.profile-report-div{
    @include secStyle();
    display: flex;
    justify-content: space-around;
}

#chart{
    border-left: 1px solid;
    border-color: $clr-gray;
}


.order-report-div{
    @include secStyle();
    padding: 1rem 1.5rem;
}

.transactions-div{
    @include secStyle();
    padding: 1rem 1.5rem;
}


.txt-font-size{
    display: flex;
    align-items: center;
    font-size: .75rem;
}


@media(max-width: 768px){
    .john-dash-div{
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        .john-dash-txt-div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .order-small-1{
        order: 1 !important;
    }
    .order-small-2{
        order: 2 !important;
    }
    .charts-div{
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    #chart{
        border-style: none !important;
        overflow-x: hidden !important;
    }
    .profile-report-div{
        flex-direction: column;
        align-items: center;
    }
}
