@import '../base/variables';
.form-sec{
    margin: 1rem 1.5rem;
    /* padding: 1rem 1.5rem; */
    div form{
        padding: 1rem 1.5rem;
        width: 100%;
        box-shadow: $box-shadow;
    }
    div form div input{
        border-style: none;
        border: 1px solid $clr-grayish-blue;
    }
}

input:focus{
    border-color: $clr-primary !important;
}

.link-form{
    margin: .5rem; 
    padding: .5rem 1rem;
    color: $clr-white;
    background-color: $clr-primary;
    cursor: pointer;
}
.reset{ 
    background-color: $clr-grayish-blue;
}


.form-svg{
    position: relative;
    svg{
        position: absolute;
        top: 20px;
        right: -10px;
    }
}