
.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group{
    position: relative;
    margin: .75rem 0;
    input{
        padding: 1rem 1.5rem;
        border-radius: 5px;
        border: 2px solid #acacac;
        background-color: transparent;
        color: #eee;
        transition: .15s all ease;
    }
    input:focus{
        border-color: $clr-primary;
    }
    input::placeholder{
        color: transparent;
    }
    .form-label{
        position: absolute;
        top: 12px;
        right: 0;
        padding: 0 .7rem;
        color: $clr-grayish-blue;
        pointer-events: none;
        transition: .15s all ease;
    }
    input:focus + .form-label,
    input:not(:placeholder-shown) +
    .form-label{
        transform: translate(-5px, -22px);
        color: $clr-primary;
        background-color: $clr-white;
        border-radius: 10px;
    }
    span svg{
        color: $clr-grayish-blue;
        position: absolute;
        left: 0;
        bottom: 20px;
        right: 90%;
    }   
    span svg .d-none{
        display: none;
    }
    
    
}
.after-line-for-or{
    position: relative;
    width: 100%;
    text-align: center;
    span{
        background-color: $clr-white;
        padding: .3rem;
    }
}
.after-line-for-or::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 20px;
    height: 1px;
    z-index: -1;
    background-color: $clr-grayish-blue;
}



.btn-submit{
    background-color: $clr-primary;
    color: $clr-white;
    border-style: none;
    :hover{
        opacity: .75;
        transition: all .5s;
    }
}

.form-width{
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-grayish-blue{
    color: $clr-grayish-blue;
}

.face-book:hover{
    background-color: $clr-face-book;
}
.twitter:hover{
    background-color: $clr-twitter;
}
.git-hub:hover{
    background-color: $clr-git-hub;
}
.google:hover{
    background-color: $clr-google;
}


.platform-icon{
    display: flex;
    justify-content: center;
    text-align: center;
}
